---
import '../styles/global.css';
const pageTitle = "О блоге";

---
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
     <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Главная</a>
    <a href="/about/">О сайте</a>

    <h1>Мой блог об изучении Astro</h1>
    <p>Здесь я буду публиковать записи о своем пути изучения Astro.</p>
    <ul>
      <li><a href="/posts/post-1/">Пост 1</a></li>
      <li><a href="/posts/post-2/">Пост 2</a></li>
      <li><a href="/posts/post-3/">Пост 3</a></li>
    </ul>
  
  <h1>Мой блог об изучении Astro</h1>
  <p>Здесь я буду публиковать записи о своем пути изучения Astro.</p>
   </body> 