---
import '../styles/markdown.css';
const  pageTitle  = "Markdown";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
	</head>
	<body>
		<h1>Markdown preview</h1>
    <main class="container" id="container">
      <textarea id="source" cols="30" rows="30" class="source"></textarea>
      <div id="divider" class="divider"></div>
      <div id="preview" class="preview"></div>
    </main>
    <script type="module" src="/scripts/markdown.js"></script>
	</body>
</html>